@mixin mobile {
  @media (max-width: 426px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 769px) {
    @content;
  }
}

.btn {
  color: hsl(100, 100%, 100%);
  background: hsl(180, 66%, 49%);
  font-size: 18px;
  padding: 15px 50px;
  font-weight: 800;
  border: none;
  font-size: 16px;
  border-radius: 25px;
  transition: 0.5s;
  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }
}

.container {
  padding: 0 100px;
  // background-color: yellow;

  @include tablet() {
    padding: 0 30px;
  }
}
